.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 3.75rem) / 5);
  padding: 0.625rem 0;
  border: 0.125rem solid black;
  border-radius: 0.625rem;
}
