.table {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  font-size: 1.25rem;
}
.thead {
  background-color: #2a2a2a;
  color: #fff;
  border: 0.125rem solid black;
}
.th {
  padding: 0.25rem 0;
  border: 0.0625rem solid black;
}
